[Desktop Entry]
Version=1.1
Type=Application
Name=RStudio Web
TryExec=startrstudio
Exec=startrstudio
Keywords=PsychNotebook
Categories=Science;Development
Description=IDE for R.
Description[de]=Entwicklungsumgebung für R. Eignet sich zur Inspektion und Analyse von Daten.
Icon=rstudio
Interfaces=org.leibniz-psychology.conductor.v1
